*
!.gitignore
!.gitconfig.copy
!.zshrc
!.xinitrc
!.vimrc
!.profile
!.xprofile
!.Xresources
!.Xmodmap

!.config

!.config/alacritty
!.config/alacritty/*

!.config/qtile
!.config/qtile/*

!.config/picom
!.config/picom/*

!.config/neofetch
!.config/neofetch/*
!.config/neofetch/normal
!.config/neofetch/normal/*
!.config/neofetch/small
!.config/neofetch/small/*

!.config/kitty
!.config/kitty/*

!.config/rofi
!.config/rofi/*
!.config/rofi/themes
!.config/rofi/themes/*

!.config/gtk-3.0
!.config/gtk-3.0/*
!.config/gtk-4.0
!.config/gtk-4.0/*

!.config/themes-bspwm.zip
!.config/bspwm
!.config/bspwm/*
!.config/bspwm/assets
!.config/bspwm/assets/*
!.config/bspwm/rices
!.config/bspwm/rices/emilia
!.config/bspwm/rices/emilia/*
!.config/bspwm/scripts
!.config/bspwm/scripts/*
!.config/bspwm/scripts/polybar-mpris
!.config/bspwm/scripts/polybar-mpris/*

!.config/i3
!.config/i3/*
!.config/i3/polybar
!.config/i3/polybar/*
!.config/i3/scripts
!.config/i3/scripts/*

!.config/polybar
!.config/polybar/*

!.config/mpd
!.config/mpd/mpd.conf

!.config/ncmpcpp
!.config/ncmpcpp/config

!.config/sxhkd
!.config/sxhkd/sxhkdrc

!.config/systemd/
!.config/systemd/user/
!.config/systemd/user/theme.service
!.config/systemd/user/theme.timer

!.config/shell/
!.config/shell/*
!.config/shell/apps/*

!.themes
!.themes/*

!.icons
!.icons/Win11.tar.xz
!.icons/Sweet-cursors.tar.xz
!.icons/Inverse.tar.xz
!.icons/*

!.screenlayout
!.screenlayout/espejo.sh
!.screenlayout/resolucion.sh
!.screenlayout/resolucion-2p.sh

!.scripts
!.scripts/*
!.scripts/services/
!.scripts/services/*

!.opt
!.opt/desk-opt.zip
!.opt/pkg-opt.zip
!.opt/nginx.zip
!.opt/nginx-vps.zip
!.opt/*.json

!.local
!.local/share
!.local/share/fonts
!.local/share/fonts/Bahnschrift
!.local/share/fonts/Bahnschrift/*
!.local/share/fonts/EdwardianScriptITC
!.local/share/fonts/EdwardianScriptITC/*
!.local/share/fonts/Minecraft
!.local/share/fonts/Minecraft/*
!.local/share/fonts/SFMono
!.local/share/fonts/SFMono/*
