//@theme "~/.config/rofi/themes/spotlight-dark.rasi"

//@theme "~/.config/rofi/themes/spotlight-dark.rasi"

//@theme "~/.config/rofi/themes/spotlight-dark.rasi"

//@theme "~/.config/rofi/themes/spotlight-dark.rasi"

//@theme "~/.config/rofi/themes/spotlight-dark.rasi"

//@theme "~/.config/rofi/themes/spotlight-dark.rasi"

@theme "/home/glyo/.config/rofi/themes/rounded-purple-dark.rasi"
